.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* ///////////////////////////////////////////////////////// */
.navbar {
  background-color: #2b3990;
}
.navbar .navbar-brand {
  color: #f2f3f2;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #f2f3f2;
}
.navbar .navbar-text {
  color: #f2f3f2;
}
.navbar .navbar-text a {
  color: #f2f3f2;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #f2f3f2;
}
.navbar .navbar-nav .nav-link {
  color: #f2f3f2;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #f2f3f2;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #2b3990;
  border-color: #5970af;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #f2f3f2;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #f2f3f2;
  background-color: #5970af;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #5970af;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #f2f3f2;
  background-color: #5970af;
}
.navbar .navbar-toggle {
  border-color: #5970af;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #5970af;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #f2f3f2;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #f2f3f2;
}
.navbar .navbar-link {
  color: #f2f3f2;
}
.navbar .navbar-link:hover {
  color: #f2f3f2;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f2f3f2;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f2f3f2;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f2f3f2;
    background-color: #5970af;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f2f3f2;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f2f3f2;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f2f3f2;
    background-color: #5970af;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f2f3f2;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f2f3f2;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f2f3f2;
    background-color: #5970af;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f2f3f2;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f2f3f2;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f2f3f2;
    background-color: #5970af;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #f2f3f2;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #f2f3f2;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #f2f3f2;
  background-color: #5970af;
}

#brand {
  color: #374396;
}

#topnav {
  background-color: #f2f3f2;
  background-image: url("/grey.png");
}

#toplink {
  color: #f2f3f2;
  background-color: #5970af;
}

.mapRow {
  height: 100%;
}

.scroll {
  max-height: calc(100vh - 140px);
  overflow-y: scroll;
}

#beta {
  font-size: 12px;
}

.selectedMarker{
  font-size: 40px;
}
